@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@100&display=swap');

body {
    background: url(image/images.jpeg) no-repeat center/cover;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    
}

.header {
    text-align: center;
    color: aliceblue;
    background: url(image/images\ \(2\).jpeg) no-repeat center/cover;
    border-radius: 1rem;
    position: relative;
    padding: 4px 0;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.logo img {
    width: 65px;
    height: auto;
    border-radius: 6px;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding: 0 20px;
}

.hero {
    margin: auto;
    text-align: center;
    padding: 150px 50px;
    background:linear-gradient(rgba(0, 0, 0, 0.726), rgba(0,0,0,0.8)), url(image/INTROIMG.jpg) no-repeat center/cover;
    box-shadow: 20px;
    background-attachment: fixed;
    border-radius: 1rem
}

.hero2 {
    margin: auto;
    text-align: center;
    background:linear-gradient(rgba(0, 0, 0, 0.726), rgba(0,0,0,0.8)), url(image/about-us.jpg) no-repeat center/cover ;
    box-shadow: 20px;
    border-radius: 1rem;
    background-attachment: fixed;
    padding: 150px 50px;
}

.paragraph {
    color: aliceblue; 
    font-size: 21px;
}

img {
    display: block;
    margin: auto;
}

.link1 {
    background: url(image/images\ \(2\).jpeg) no-repeat center/cover;
    width: fit-content;
    margin: auto;
    border-radius: 0.3rem;
}

h3 {
    text-align: center;
}

.link2 {
    background: url(image/images\ \(2\).jpeg) no-repeat center/cover;
    width: fit-content;
    margin: auto;
    text-align: center;
    border-radius: 0.3rem;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: gold;
}

.footer {
    text-align: center;
    font-size: 15px;
}

/* EDITED BY SIMISOLA AND CHINYERE */