* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-card {
  box-shadow: 2px 2px 2px grey;
  margin-bottom: 100px;
  padding: 30px;
}

.product-image {
  width: 300px;
}

.product-heading {
  text-align: center;
}

.buy-now-button {
  background-color: rgb(129, 13, 129);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin: 12px 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
