@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
  background: url(image/images.jpeg) no-repeat center/cover;
  font-family: 'Poppins', sans-serif;
}

.product-card {
  padding: 30px;
  width: 300px;
  background: url(image/images\ \(1\).jpeg) no-repeat center/cover;
  border-radius: 0.5rem;
}

.product-heading {
  text-align: center;
  margin-top: 20px;
  font-size: 70px;
}

#container {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
  /* display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

@media only screen and (min-width: 992px) {
  /* #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: row;
  } */
}

#product-image {
  width: 100%;
}

.buy-now-button {
  background-color: rgb(129, 13, 129);
  color: white;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin-top: 12px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

img {
  width: 240px;
  height: 250px;
}

.link1 {
  background: url(image/images\ \(2\).jpeg) no-repeat center/cover;
  width: fit-content;
  margin: auto;
  border-radius: 0.3rem;
}

.link2 {
  background: url(image/images\ \(2\).jpeg) no-repeat center/cover;
  width: fit-content;
  margin: auto;
  text-align: center;
  border-radius: 0.3rem;
}

a {
  color: aliceblue;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.copyright {
  text-align: center;
}

/* #load-more{
 

} */

/* EDITED BY SIMISOLA AND CHINYERE */